*.egg-info
outputs
wandb
nano4M/nanofm/data/
audio_tokenizer/vqvae/data/LibriSpeech/
audio_tokenizer/vqvae/data/inference/
*.out
*.err
*.tar.gz
*.pt
*.jpg
*.pyc
.DS_Store
__pycache__
.ipynb_checkpoints
nano4M/multi_node_job.err
nano4M/multi_node_job.out